
# Created by https://www.toptal.com/developers/gitignore/api/firebase,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=firebase,visualstudiocode

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

### Firebase Patch ###
.runtimeconfig.json
.firebase/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.toptal.com/developers/gitignore/api/firebase,visualstudiocode